.carousel-control-prev, .carousel-control-next {
    color: rgb(93, 39, 143) ;
    background-color: #d7bde2;
}

.carousel-caption {
    background-color: #d7bde2;
    color: #333;
    font-size: 15px;
    border-radius: 1rem;
    width: 400px;
    height: 250px;
    padding: 1rem 1rem 1rem 1rem;
}

.carousel-caption .title{
    font-size: 20px;
}
.carousel .img-slide{
    width: 350px;
    height: 400px;
}