.col-card-current {
    display: flex;
    justify-content: center;
}

.tarjeta {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.tarjeta-header {
    margin-top: 10px;
    margin-left: 10px;
}

.tarjeta-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-purple {
    background-color: rgb(93, 39, 143);
    margin-bottom: 5px;
}

.tarjeta-body p {
    font-size: 13px;
    margin: 0 0 40px;
    text-align: justify;
}

.user {
    display: flex;
    margin-top: auto;
}

.user img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    object-fit: cover;
}

.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}

.video-reponsive {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

iframe {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}