br {
    margin-bottom: 2%;
}

.logo {

    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sesion {

    color: white;
    font-size: 1rem;
}

.header {
    width: 100%;
    height: 80vh;
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr max-content;
}

.header__logo {
    fill: white;
    width: 3rem;
    padding: 1rem;
    cursor: pointer;
}

.header__bg {
    width: 100%;
    height: 100%;
    background-image: url("https://haycanal.com/uploads/noticias/15102/Mujeres_STEM.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header__title {
    grid-area: 2 / 1 / 2 / 3;
    align-self: center;
    justify-self: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
    margin-top: -5rem;
}

.header__log {
    display: flex;
    align-items: center;
    grid-area: 1 / 2 / 1 / 3;
    padding: 1rem 2rem;
    color: white;
    cursor: pointer;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}

.header__log--text {
    text-transform: capitalize;
}


.about {
    width: 100%;
    height: 60vh;
    margin-top: -7rem;
    clip-path: polygon(0 27%, 100% 0, 100% 100%, 0 100%);
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}

.about__title {
    padding-top: 7rem;
    text-align: center;
    text-transform: uppercase;
}

.about__title--text {
    color: rgb(73, 11, 131);
    font-size: 1rem;
}


.about__text {
    width: 80%;
    margin: 5% auto;
}

.about__text--content {
    text-align: justify;
}