.login-root {
    background: #fff;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.form-login{
    margin: 0px auto;
    width: 100%;
    min-height: fit-content;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding: 20px;
}
.btn{
    margin-top: 20px;
    background: #43055c;
    height: 40px;
    border-radius: 10px;
    align-content: center;
  }