.logo {
    width: 80px;
    height: 80px;
}

.navbar {
    background-color: #D7BDE2;
}

.btn {
    background-color: rgb(93, 39, 143);
    border: white;
}

.btn:hover {
    background-color: rgb(73, 11, 131);
}

.baner-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.text-slider {
    font-size: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(93, 39, 143);
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: rgb(93, 39, 143);
}

.text-parrafo {
    text-align: justify;
}