* {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}


.logo {
    width: 60px;
    height: 60px;
}

.navbar {
    background-color: #D7BDE2;
    max-width: 100%;
}

.text {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
}

.btn {
    background-color: rgb(93, 39, 143);
    border: white;
}

.btn:hover {
    background-color: rgb(73, 11, 131);
}

.baner-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.text-slider {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;

}

h1 {

    color: rgb(93, 39, 143);
    font-weight: bold;
    text-align: center;
}

h4 {

    color: rgb(93, 39, 143);
    font-weight: bold;
}

.text-parrafo {
    text-align: justify;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.line-purple {
    color: rgb(93, 39, 143);
}

hr {
    color: rgb(93, 39, 143);
}

.image-services {
    width: 15rem;
    height: 15rem;
    margin-top: 35px;
    margin-bottom: 35px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    color: rgb(93, 39, 143);
    font-size: 26px;
    font-weight: bold;
    font-size: 25px;
}

.img-app {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.google-btn {
    width: 30px;
    height: 30px;

}

.row {
    margin-bottom: 40px;
}

.carousel {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: bold;
}

.carousel-caption {
    background-color: #d7bde2;
    color: #333;
    border-radius: 2rem;
}
.nav-tabs{
    border-bottom: 1px solid #843bbb;
    font-size: 2rem;
}

a{
    margin: 1rem;
    size: 2rem;
}