.logo {
    width: 60px;
    height: 60px;
}

.navbar {
    background-color: #D7BDE2;
    max-width: 100%;
    height: 70px;
}

.btn {
    background-color: rgb(93, 39, 143);
    border: white;
}

.btn:hover {
    background-color: rgb(73, 11, 131);
}

.baner-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.text-slider {
    font-size: 20px;

}

h1 {
    font-family: 'Lato';
    color: rgb(93, 39, 143);
}

h4 {
    font-family: 'Lato';
    color: rgb(93, 39, 143);
}

.text-parrafo {
    text-align: justify;
}

.line-purple {
    color: rgb(93, 39, 143);
}
hr{
    color: rgb(93, 39, 143);
}
img{
    width: 15rem;
    height: 15rem;
    margin-bottom: 35px;
    margin-top: 35px;
}
h3{
    font-family: 'Lato';
    color: rgb(93, 39, 143);
}