*{
    font-family: "Lato";
    font-size: 17px;
}


.logo {
    width: 60px;
    height: 60px;
}

.navbar {
    background-color: #D7BDE2;
    max-width: 100%;
}

.btn {
    background-color: rgb(93, 39, 143);
    border: white;
}

.btn:hover {
    background-color: rgb(73, 11, 131);
}

.baner-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.text-slider {
    font-size: 20px;

}

h1 {
    
    color: rgb(93, 39, 143);
    font-weight: bold;
    text-align: center;
}

h4 {
   
    color: rgb(93, 39, 143);
    font-weight: bold;
}

.text-parrafo {
    text-align: justify;
}

.line-purple {
    color: rgb(93, 39, 143);
}
hr{
    color: rgb(93, 39, 143);
}
.image-services{
    width: 15rem;
    height: 15rem;
    margin-top: 35px;
    margin-bottom: 35px;
}
h3{
    font-family: 'Lato';
    color: rgb(93, 39, 143);
    font-weight: bold;
    font-size: 25px;
}
.google-btn{ 
    width: 30px;
    height: 30px;

}
.row{
    margin-bottom: 40px;
}
.carousel {
    font-family: "Lato";
    font-size: 20px;
    font-weight: bold;
}

.carousel-caption{
    background-color: #d7bde2;
    color: #333;
    border-radius: 2rem;
}
.nav-tabs{
    border-bottom: 1px solid #843bbb;
    font-size: 2rem;
}