.services {
  background: #fff;
  padding: 80px 0;
}

/*@media (max-width: 767px) {
  .services {
    padding: 20px 0;
  }
}*/

.auth__box {
  background: #f1e0f3;
}

.image-services {
  object-fit: cover;
}