.caja-Tips {
    margin: 10px 10px;
    display: inline-block;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(93, 39, 143);
    color: white;
}